* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

header .top-header {
    background-color: #173a69;
    padding: 10px 0;
}

header .top-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .top-header .left-side ul {
    list-style-type: none;
    display: flex;
    gap: 48px;
}

header .top-header .left-side ul li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

header .top-header .left-side ul li a i {
    margin-right: 8px;
}

header .top-header .right-side {
    color: white;
    display: flex;
    gap: 30px;
}

header .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}


header .main-menu .nav-column ul {
    display: flex;
    gap: 35px;
    list-style: none;
}

header .main-menu .nav-column ul li a {
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #333;
    transition: color 0.4s;
    position: relative;
}

header .main-menu .nav-column ul li a::after {
    content: '';

    position: absolute;
    background-color: #173a69;
    height: 4px;
    width: 0;
    bottom: -40px;
    left: 0;
    transition: 0.4s;
}

header .main-menu .nav-column ul li a:hover:after {
    width: 100%;

}

.home-slider .slider-one {
    background-image: url(images/slider-one.jpg);
    min-height: 58vh;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
}

.home-slider .slider-one .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

}



.right-side {
    margin-left: 150px;
}


.home-slider .slider-one .container .right-side h3 {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;

}

.home-slider .slider-one .container .right-side h1 {
    font-size: 60px;
    font-weight: 800px;
    text-transform: uppercase;
    margin-bottom: 20pxs;
}

.home-slider .slider-one .container .right-side p {
    font-size: 14px;
    margin-top: 20px;


}

.home-slider .slider-one .container .right-side .btn-group {
    margin-top: 30px;
    display: flex;
    align-items: start;
    gap: 20px;
}

.home-slider .slider-one .container .right-side .btn-group a {
    background-color: #173a69;
    padding: 17px 27px;
    font-size: 14px;
    font-weight: 700px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border: 2px solid #173a69;
}

.home-slider .slider-one .container .right-side .btn-group a:hover {
    background-color: transparent;
    color: #173a69;
}

.home-slider .slider-one .container .right-side .btn-group a:last-child {
    background-color: transparent;
    color: #173a69;
}

.home-slider .slider-one .container .right-side .btn-group a:last-child:hover {
    background-color: #173a69;
    color: white;
}

.offer-section {
    padding: 90px 0;
}

.section-header {
    text-align: center;
}

.section-header h2 {
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 30px;
}

.offer-section .services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 64px;
}

.offer-section .services .column {
    text-align: center;
}

.offer-section .services .column p {
    margin-top: 25px;
}

.about-us {
    padding: 90px 0;
    background-image: url(images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-us .container .right-side .section-header {
    text-align: left;
}

.about-us .container .right-side .section-header p {
    padding: 26px;
}

.gallery-section {
    padding: 90px 0;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 40px;
}

.gallery img {
    width: 100%;

}

.gallery .gallery-item {
    position: relative;
    cursor: pointer;
}

.gallery .gallery-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 13, 13, 0.447);
    top: 0;
    left: 0;
    transition: .4s;
    opacity: 0;

}

.gallery .gallery-item:hover::after {
    opacity: 1;
}

.caption {
    position: absolute;
    text-align: center;
    top: 50%;
    color: white;
    opacity: 0;
    z-index: 1;
    transition: .4s;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery .gallery-item:hover .caption {
    opacity: 1;
}

.caption i {
    height: 30px;
    width: 30px;
    border: 2px solid white;
    text-align: center;
    align-content: center;
    border-radius: 50px;
}

.btn-getstarted {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.btn-getstarted a {
    text-decoration: none;
    background-color: #173a69;
    padding: 17px 27px;
    font-size: 14px;
    font-weight: 700px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border: 2px solid #173a69;
}

.btn-getstarted a:hover {
    background-color: transparent;
    color: #173a69;
}

footer .quick-contact {
    padding: 90px 0;
    background-color: #173a69;
}

footer .quick-contact .container {
    text-align: center;
}

footer .quick-contact .container p {
    color: white;
    font-size: 24px;
}

footer .quick-contact .container p a {
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.footer-contant {
    padding: 90px 0;
}

.footer-contant .container {
    text-align: center;
}

.footer-contant .container .icon-group i {
    color: #7f7f7f;
    border: 2px solid #7f7f7f;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    align-content: center;
    font-size: 15px;

    margin: 20px 15px;
}

.footer-contant .container .icon-group i:hover {
    background-color: #173a69;
    color: white;
    border-color: white;

}

.socket {
    background-color: black;
    color: white;
    padding: 30px 0;
}

.socket .container {
    text-align: center;
}

.socket .container p a {
    color: white;
    font-weight: 700;
}




.inner-banner {
    min-height: 275px;
    background-image: url(images/innerbg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;

}

.inner-banner .container {
    text-align: center;
    color: white;

}

.inner-banner .container h1 {
    font-size: 800;
}

.inner-banner .container p {
    font-size: 15px;
}

.card-section {

    background-image: url(images/bg333.jpg);
    background-repeat: no-repeat;
    background-size: cover;



}

.card-section .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 120px 0;

}

.card-section .container .column h3 {
    font-weight: 600;
    color: #173a69;
    padding: 20px 0;
}

.card-section .container .column p {
    font-size: 15px;
}

.contact-from {
    padding: 70px 0;
}

.contact-from .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
}

.contact-from .container .left-side form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

}

.contact-from .container .left-side p {
    margin: 15px 0;
}

.groupone {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 120px;
    margin-top: 20px;
    resize: none;
}

input[type=email] {
    color: red;
}

button[type=submit] {
    background-color: #173a69;
    padding: 10px 25px;
    border: none;
    color: white;
    margin-top: 20px;
}

.right-side ul {
    margin-top: 10px;
}

.right-side img {
    margin-top: 10px;
}

.right-side ul {
    list-style-type: none;
}

.right-side ul li {
    color: #173a69;
    font-weight: 700;

}

.right-side ul li a {
    text-decoration: none;
    color: black;
    font-weight: 100;
}

.about-page {
    background-image: url(images/ABOUTBG.jpg);

    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-page .about-image {
    padding: 73px;

}

.about-image .container {
    display: flex;
    gap: 30px;
}


.company .header {

    height: 106px;
}

.company .container .header h2 {
    padding: 48px;
    text-align: center;
}


.company-section {
    background-image: url(images/abtbg.jpg);
    height: 474px;
    background-repeat: no-repeat;
    background-size: cover;
}

.company-section .container .company-general {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 85px;
}

.company-section .container .company-general .column h2 {
    font-size: 25px;
    padding: 30px 0px;
}

.company-section .container .company-general .column p {

    padding: 20px;
}